<app-modal-product></app-modal-product>
<!-- BREADCRUMB -->
<nav class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-0 font-size-xs text-gray-400">
          <li class="breadcrumb-item">
            <a class="text-reset" href="#">Home</a>
          </li>
          <li class="breadcrumb-item active">
            Women's Clothing
          </li>
        </ol>

      </div>
    </div>
  </div>
</nav>

<div class="pt-7">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Heading -->
        <h3 class="mb-10 text-center">Women's Clothing</h3>
          <app-shop-topbar></app-shop-topbar>
      </div>
    </div>
  </div>
</div>
<app-shop-filter></app-shop-filter>
<div class="container">
  <app-product-list></app-product-list>

</div>
<div class="container pb-6">
  <app-shop-load-more></app-shop-load-more>
</div>



