<div *ngIf="this.users?.length > 0" class="container py-10">


  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>email</th>
      <th>Phone Number</th>
      <th>Status</th>
      <th>Membership</th>
      <th>Activities</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.status }}</td>
      <td>{{ this.memberships[user.membership] }}</td>
      <td>
        <div *ngIf="user.status === 'REQUESTED'">
        <button class="btn  btn-success btn-xxs" (click)="activate(user.id)">Activate</button>
        </div>
        <div *ngIf="user.status === 'ACTIVATED'">
          <button class="btn btn-danger btn-xxs" (click)="deactivate(user.id)">Deactivate</button>
        </div>
        <button class="btn  btn-success btn-xxs" [routerLink]="['/base/user', user.id]">View</button>

      </td>
    </tr>
    </tbody>
  </table>
</div>

