<!--<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">SECOND CLOSET CLUB</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-secondary" (click)="logout()">Logout</a>
      </div>
    </div>
  </header>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" routerLink="/base/product-display" routerLinkActive>All Clothing</a>
      <a class="p-2 text-muted" href="#">Dresses</a>
      <a class="p-2 text-muted" href="#">Tops and Blouses</a>
      <a class="p-2 text-muted" href="#">Bottoms</a>
      <a class="p-2 text-muted" href="#">Coats and Jackets</a>
      <a class="p-2 text-muted" href="#">Accessories</a>
    </nav>
  </div>
</div>-->
<div class="container">

  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">SECOND CLOSET CLUB</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-secondary" (click)="logout()">Logout</a>
      </div>
    </div>
  </header>
  <nav class="navbar navbar-expand-lg navbar-light bg-ligh justify-content-betweent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
          <a class="p-2 text-muted" routerLink="/base/product-display" routerLinkActive>All Clothing</a>
        </li>
        <li class="nav-item">
          <a class="p-2 text-muted" href="#">Dresses</a>
        </li>
        <li class="nav-item">
          <a class="p-2 text-muted" href="#">Tops and Blouses</a>
        </li>
        <li class="nav-item">
          <a class="p-2 text-muted" href="#">Bottoms</a>
        </li>
        <li class="nav-item">
          <a class="p-2 text-muted" href="#">Coats and Jackets</a>
        </li>
        <li class="nav-item">
          <a class="p-2 text-muted" href="#">Accessories</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
