
<!-- Slider -->
<div class="flickity-buttons-lg flickity-buttons-offset" data-flickity='{"groupCells": true,"prevNextButtons": true, "pageDots": false}'>

  <!-- Item -->
  <div class="col" style="max-width: 200px;">
    <div class="card">

      <!-- Image -->
      <img class="card-img-top" src="assets/img/custom/shop/dress.jpg" alt="...">

      <!-- Body -->
      <div class="card-body py-4 px-0 text-center">

        <!-- Heading -->
        <a class="stretched-link text-body" href="#!">
          <h6>Dresses</h6>
        </a>

      </div>

    </div>
  </div>

  <!-- Item -->
  <div class="col" style="max-width: 200px;">
    <div class="card">

      <!-- Image -->
      <img class="card-img-top" src="assets/img/custom/shop/top.jpg" alt="...">

      <!-- Body -->
      <div class="card-body py-4 px-0 text-center">

        <!-- Heading -->
        <a class="stretched-link text-body" href="#!">
          <h6>Tops & T-shirts</h6>
        </a>

      </div>

    </div>
  </div>

  <!-- Item -->
  <div class="col" style="max-width: 200px;">
    <div class="card">

      <!-- Image -->
      <img class="card-img-top" src="assets/img/custom/shop/sweater.jpg" alt="...">

      <!-- Body -->
      <div class="card-body py-4 px-0 text-center">

        <!-- Heading -->
        <a class="stretched-link text-body" href="#!">
          <h6>Sweaters</h6>
        </a>

      </div>

    </div>
  </div>

  <!-- Item -->
  <div class="col" style="max-width: 200px;">
    <div class="card">

      <!-- Image -->
      <img class="card-img-top" src="assets/img/custom/shop/coat.jpg" alt="...">

      <!-- Body -->
      <div class="card-body py-4 px-0 text-center">

        <!-- Heading -->
        <a class="stretched-link text-body" href="#!">
          <h6>Jackets & Coats</h6>
        </a>

      </div>

    </div>
  </div>

  <!-- Item -->
  <div class="col" style="max-width: 200px;">
    <div class="card">

      <!-- Image -->
      <img class="card-img-top" src="assets/img/custom/shop/pants.jpg" alt="...">

      <!-- Body -->
      <div class="card-body py-4 px-0 text-center">

        <!-- Heading -->
        <a class="stretched-link text-body" href="#!">
          <h6>Pants</h6>
        </a>

      </div>

    </div>
  </div>

  <!-- Item -->
  <div class="col" style="max-width: 200px;">
    <div class="card">

      <!-- Image -->
      <img class="card-img-top" src="assets/img/custom/shop/skirt.jpg" alt="...">

      <!-- Body -->
      <div class="card-body py-4 px-0 text-center">

        <!-- Heading -->
        <a class="stretched-link text-body" href="#!">
          <h6>Skirts</h6>
        </a>

      </div>

    </div>
  </div>

  <!-- Item -->
  <div class="col" style="max-width: 200px;">
    <div class="card">

      <!-- Image -->
      <img class="card-img-top" src="assets/img/custom/shop/jumpsuit.jpg" alt="...">

      <!-- Body -->
      <div class="card-body py-4 px-0 text-center">

        <!-- Heading -->
        <a class="stretched-link text-body" href="#!">
          <h6>Jumpsuits</h6>
        </a>

      </div>

    </div>
  </div>

  <!-- Item -->
  <div class="col" style="max-width: 200px;">
    <div class="card">

      <!-- Image -->
      <img class="card-img-top" src="assets/img/custom/shop/accessories.jpg" alt="...">

      <!-- Body -->
      <div class="card-body py-4 px-0 text-center">

        <!-- Heading -->
        <a class="stretched-link text-body" href="#!">
          <h6>Accessories</h6>
        </a>

      </div>

    </div>
  </div>

</div>
