<!-- Card -->
<div class="card mb-7 " >

  <!-- Image -->
  <div class="card-img" href="" [routerLink]="['/base/product', product.id]" >

    <!-- Image -->
    <img class="card-img-top" [src]=product.imgCover.url *ngIf="product.imgCover" alt="Product Image">
    <img class="card-img-top" [src]=defaultImageUrl *ngIf="!product.imgCover" alt="Product Image Default">

  </div>

  <div class="card-body px-0">

    <!--    &lt;!&ndash; Category &ndash;&gt;
        <div class="font-size-xs">
          <a class="text-muted" routerLink="/base/shop" routerLinkActive="active">{{product.category.name}}</a>
        </div>-->

    <!-- Title -->
    <div class="font-weight-bold text-center">
      {{product.name}}
    </div>

    <div class="font-weight-bold text-muted text-center">
      {{product.quickDesc }}
    </div>

  </div>
</div>


