<!-- Card -->
<div class="card mb-7" >

  <!-- Image -->
  <div class="card-img" href="" [routerLink]="['/base/product', product.id]" >

    <!-- Action -->
    <button class="btn btn-xs btn-circle btn-white-primary card-action card-action-right" data-toggle="button">
      <i class="fe fe-heart"></i>
    </button>

    <!-- Image -->
    <img class="card-img-top" [src]=product.coverImg.path *ngIf="product.coverImg" alt="Product Image">
    <img class="card-img-top" [src]=defaultImageUrl *ngIf="!product.coverImg" alt="Product Image Default">

  </div>

  <div class="card-body px-0">

    <!-- Category -->
    <div class="font-size-xs">
      <a class="text-muted" routerLink="/base/shop" routerLinkActive="active">{{product.category.name}}</a>
    </div>

    <!-- Title -->
    <div class="font-weight-bold">
        {{product.name}}
    </div>

    <!-- Price -->
    <div class="font-weight-bold text-muted">
      {{product.rentalPrice | currency:'EUR'}} one-time-rental
    </div>

  </div>
</div>


