<div class="modal fade" id="modalMemberSlowDown" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- Close -->
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fe fe-x" aria-hidden="true"></i>
      </button>

      <!-- Header-->
      <div class="modal-header line-height-fixed font-size-lg text-center">
        <strong class="mx-auto">You have reached your limit of <br> bookings for this month</strong>
      </div>

      <!-- Body -->
      <div class="modal-body">


        <div class="row">
          <div class="col-12">

            <div class="text-center">
              <img src="assets/img/custom/sad.jpg" alt="..." >
            </div>

            <!-- Text -->
            <p class="font-size-sm text-center text-gray-500">

              You might need to return a few items or to wait until next month
              before booking more pieces.  If you don’t want to wait
              check your membership page and upgrade your account.

            </p>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
