<p class="mb-5">
  Size: <strong><span id="sizeCaption">7.5</span> US</strong>
</p>
<div class="mb-2">
  <div *ngFor="let size of productSizes" class="custom-control custom-control-inline custom-control-size mb-2">
    <input type="radio" class="custom-control-input" name="sizeRadio" id="{{'sizeRadio'+size.size.id}}" value="{{size.size.id}}" data-toggle="form-caption" data-target="#sizeCaption">
    <label class="custom-control-label" for="{{'sizeRadio'+size.size.id}}">{{size.size.name}}</label>
  </div>
</div>

