.form-group-overflow {
  max-height: 550px;
  overflow: hidden;
}


.grid-pearl {
  background-image: radial-gradient(circle at 30% 30%, #fff 8%, #f3ece3 48%, #e7e0d7 61%);
  border: 1px solid #ddd;
}

.grid-black {
  color: black;
}

.grid-cream {
  color: #d5cbae;
}

.grid-white {
  color: #f9f9f9;
}

.grid-brown {
  color: #5b250c;
}


.grid-grey {
  color: grey;
}

.grid-red {
  color: red;
}

.grid-orange {
  color: orange;
}

.grid-green {
  color: green;
}

.grid-blue {
  color: blue;
}

.grid-purple {
  color: purple;
}

.grid-pink {
  color: pink;
}

.grid-gold {
  color: gold;
}

.grid-silver {
  color: silver;
}

