<div *ngIf="this.bookings?.length > 0" class="container py-10">


  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
    <tr>
      <th>User</th>
      <th>Start Date</th>
      <th>Collection Place</th>
      <th>Product</th>
      <th>Product Size</th>
      <th>Status</th>
      <th>Activities</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of bookings">
      <td><button type="button" class="btn btn-success btn-xxs"[routerLink]="['/base/user', item.userId]" >User</button></td>
      <td>{{ item.startDate | date:'dd/MM/yyyy' }}</td>
      <td>{{ item.collectionPlace }}</td>
      <td>{{ item.productId }}</td>
      <td>{{ item.productSize }}</td>
      <td>{{ item.status }}</td>
      <td>

      </td>
    </tr>
    </tbody>
  </table>
</div>

