

<!-- COUNTDOWN -->
<section class="py-13 bg-cover mb-10" [ngStyle]="{'backgroundImage':'url(assets/img/custom/home/cover-1.jpg)'}">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-md-8 col-lg-6">

        <!-- pre Heading -->
        <h5 class="mb-7">
          Next Meeting
        </h5>

        <!-- Heading -->
        <h1>
          March 5th at Bragadeiros 72 Frenchman lane, Dublin 1.
        </h1>


        <h5 style="font-weight: 100;">From 11am to 4 pm</h5>

        <!-- Counter -->
        <div class="d-flex mb-9" data-countdown data-date="Jan 5, 2021 15:37:25">
          <div class="text-center">
            <div class="font-size-h1 font-weight-bolder text-primary" data-days>00</div>
            <div class="heading-xxs text-muted">Days</div>
          </div>
          <div class="px-1 px-md-4">
            <div class="font-size-h2 font-weight-bolder text-primary">:</div>
          </div>
          <div class="text-center">
            <div class="font-size-h1 font-weight-bolder text-primary" data-hours>00</div>
            <div class="heading-xxs text-muted">Hours</div>
          </div>
          <div class="px-1 px-md-4">
            <div class="font-size-h2 font-weight-bolder text-primary">:</div>
          </div>
          <div class="text-center">
            <div class="font-size-h1 font-weight-bolder text-primary" data-minutes>00</div>
            <div class="heading-xxs text-muted">Minutes</div>
          </div>
          <div class="px-1 px-md-4">
            <div class="font-size-h2 font-weight-bolder text-primary">:</div>
          </div>
          <div class="text-center">
            <div class="font-size-h1 font-weight-bolder text-primary" data-seconds>00</div>
            <div class="heading-xxs text-muted">Seconds</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- CATEGORIES -->
<section class="py-6">
  <div class="row justify-content-center pb-6">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">

      <!-- Heading -->
      <h2 class="mb-4 text-center">What are you looking for today?</h2>

    </div>
  </div>
  <app-shop-topbar></app-shop-topbar>
</section>

<!-- TOP SELLERS -->
<section class="py-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-6">

        <!-- Heading -->
        <h2 class="mb-4 text-center">New arrivals in your second closet</h2>

      </div>
    </div>
    <app-product-list displayAmount="4"></app-product-list>
    <div class="row">
      <div class="col-12">

        <!-- Progress -->
        <div class="row justify-content-center mt-7">
          <div class="col-12 text-center">

            <!-- Link -->
            <a class="link-underline" href="#!">
              Discover more
            </a>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>



<!-- BRANDS -->
<section class="py-12 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading -->
        <h2 class="mb-3">@2ndclosetclub_dublin</h2>

        <!-- Subheading -->
        <p class="mb-10 font-size-lg text-gray-500">
          What are you wearing today? Share the looks you built with us.
        </p>

      </div>
    </div>
    <div class="row mx-n1 mb-10">
      <div class="col-6 col-sm-4 col-md px-1">

        <!-- Card -->
        <div class="card mb-2">

          <!-- Image -->
          <img src="assets/img/custom/home/product-16.jpg" alt="..." class="card-img">


        </div>

      </div>
      <div class="col-6 col-sm-4 col-md px-1">

        <!-- Card -->
        <div class="card mb-2">

          <!-- Image -->
          <img src="assets/img/custom/home/product-17.jpg" alt="..." class="card-img">


        </div>

      </div>
      <div class="col-6 col-sm-4 col-md px-1">

        <!-- Card -->
        <div class="card mb-2">

          <!-- Image -->
          <img src="assets/img/custom/home/product-18.jpg" alt="..." class="card-img">

        </div>

      </div>
      <div class="col-6 col-sm-4 col-md px-1">

        <!-- Card -->
        <div class="card mb-2">

          <!-- Image -->
          <img src="assets/img/custom/home/product-20.jpg" alt="..." class="card-img">

        </div>

      </div>
      <div class="col-6 col-sm-4 col-md px-1">

        <!-- Card -->
        <div class="card">

          <!-- Image -->
          <img src="assets/img/custom/home/product-21.jpg" alt="..." class="card-img">


        </div>

      </div>
      <div class="col-6 col-sm-4 col-md px-1">

        <!-- Card -->
        <div class="card">

          <!-- Image -->
          <img src="assets/img/custom/home/product-22.jpg" alt="..." class="card-img">


        </div>

      </div>
    </div>
  </div>
</section>
