
<!-- COUNTDOWN -->
<section class="py-13 bg-cover" style="background-image: url(assets/img/covers/cover-4.jpg)">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-md-8 col-lg-6">

        <!-- Heading -->
        <h3 class="mb-7">
          Get -50% from <br />Summer Collection
        </h3>

        <!-- Counter -->
        <div class="d-flex mb-9" data-countdown data-date="Jan 5, 2021 15:37:25">
          <div class="text-center">
            <div class="font-size-h1 font-weight-bolder text-primary" data-days>00</div>
            <div class="heading-xxs text-muted">Days</div>
          </div>
          <div class="px-1 px-md-4">
            <div class="font-size-h2 font-weight-bolder text-primary">:</div>
          </div>
          <div class="text-center">
            <div class="font-size-h1 font-weight-bolder text-primary" data-hours>00</div>
            <div class="heading-xxs text-muted">Hours</div>
          </div>
          <div class="px-1 px-md-4">
            <div class="font-size-h2 font-weight-bolder text-primary">:</div>
          </div>
          <div class="text-center">
            <div class="font-size-h1 font-weight-bolder text-primary" data-minutes>00</div>
            <div class="heading-xxs text-muted">Minutes</div>
          </div>
          <div class="px-1 px-md-4">
            <div class="font-size-h2 font-weight-bolder text-primary">:</div>
          </div>
          <div class="text-center">
            <div class="font-size-h1 font-weight-bolder text-primary" data-seconds>00</div>
            <div class="heading-xxs text-muted">Seconds</div>
          </div>
        </div>

        <!-- Button -->
        <a class="btn btn-dark" href="shop.html">
          Shop Now <i class="fe fe-arrow-right ml-2"></i>
        </a>

      </div>
    </div>
  </div>
</section>

<!-- TOP SELLERS -->
<section class="py-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-6">

        <!-- Heading -->
        <h2 class="mb-4 text-center">New arrivals in your second closet</h2>

      </div>
    </div>
    <app-product-list displayAmount="4"></app-product-list>
    <div class="row">
      <div class="col-12">

        <!-- Progress -->
        <div class="row justify-content-center mt-7">
          <div class="col-12 text-center">

            <!-- Link -->
            <a class="link-underline" href="#!">
              Discover more
            </a>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<!-- CATEGORIES -->
<section class="py-6">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 col-xl-6">

      <!-- Heading -->
      <h2 class="mb-4 text-center">What are you looking for today?</h2>

    </div>
  </div>
  <app-shop-topbar></app-shop-topbar>
</section>

<!-- REVIEWS -->
<section class="py-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

        <!-- Heading -->
        <h2 class="mb-10">Latest reviews</h2>

      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <!-- Slider -->
        <div data-flickity='{"groupCells": true}'>
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">

            <!-- Card -->
            <div class="card-lg card border">
              <div class="card-body">

                <!-- Header -->
                <div class="row align-items-center mb-6">
                  <div class="col-4">

                    <!-- Image -->
                    <img src="assets/img/products/product-13.jpg" alt="..." class="img-fluid">

                  </div>
                  <div class="col-8 ml-n2">

                    <!-- Preheading -->
                    <a class="font-size-xs text-muted" href="shop.html">
                      Shoes
                    </a>

                    <!-- Heading -->
                    <a class="d-block font-weight-bold text-body" href="product.html">
                      Low top Sneakers
                    </a>

                    <!-- Rating -->
                    <div class="rating font-size-xxs text-warning" data-value="3">
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Blockquote -->
                <blockquote class="mb-0">
                  <p class="text-muted">
                    From creepeth said moved given divide make multiply of him shall itself also above second doesn't unto created saying land herb sea midst night wherein.
                  </p>
                  <footer class="font-size-xs text-muted">
                    Logan Edwards, <time datetime="2019-06-01">01 Jun 2019</time>
                  </footer>
                </blockquote>

              </div>
            </div>

          </div>
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">

            <!-- Card -->
            <div class="card-lg card border">
              <div class="card-body">

                <!-- Header -->
                <div class="row align-items-center mb-6">
                  <div class="col-4">

                    <!-- Image -->
                    <img src="assets/img/products/product-14.jpg" alt="..." class="img-fluid">

                  </div>
                  <div class="col-8 ml-n2">

                    <!-- Preheading -->
                    <a class="font-size-xs text-muted" href="shop.html">
                      Dresses
                    </a>

                    <!-- Heading -->
                    <a class="d-block font-weight-bold text-body" href="product.html">
                      Cotton print Dress
                    </a>

                    <!-- Rating -->
                    <div class="rating font-size-xxs text-warning" data-value="5">
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Blockquote -->
                <blockquote class="mb-0">
                  <p class="text-muted">
                    God every fill great replenish darkness unto. Very open. Likeness their that light. Given under image to. Subdue of shall cattle day fish form saw spirit and given stars, us you whales may, land, saw fill unto.
                  </p>
                  <footer class="font-size-xs text-muted">
                    Jane Jefferson, <time datetime="2019-05-29">29 May 2019</time>
                  </footer>
                </blockquote>

              </div>
            </div>

          </div>
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">

            <!-- Card -->
            <div class="card-lg card border">
              <div class="card-body">

                <!-- Header -->
                <div class="row align-items-center mb-6">
                  <div class="col-4">

                    <!-- Image -->
                    <img src="assets/img/products/product-15.jpg" alt="..." class="img-fluid">

                  </div>
                  <div class="col-8 ml-n2">

                    <!-- Preheading -->
                    <a class="font-size-xs text-muted" href="shop.html">
                      T-shirts
                    </a>

                    <!-- Heading -->
                    <a class="d-block font-weight-bold text-body" href="product.html">
                      Oversized print T-shirt
                    </a>

                    <!-- Rating -->
                    <div class="rating font-size-xxs text-warning" data-value="4">
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Blockquote -->
                <blockquote class="mb-0">
                  <p class="text-muted">
                    Fill his waters wherein signs likeness waters. Second light gathered appear sixth fourth, seasons behold creeping female.
                  </p>
                  <footer class="font-size-xs text-muted">
                    Darrell Baker, <time datetime="2019-05-18">18 May 2019</time>
                  </footer>
                </blockquote>

              </div>
            </div>

          </div>
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">

            <!-- Card -->
            <div class="card-lg card border">
              <div class="card-body">

                <!-- Header -->
                <div class="row align-items-center mb-6">
                  <div class="col-4">

                    <!-- Image -->
                    <img src="assets/img/products/product-10.jpg" alt="..." class="img-fluid">

                  </div>
                  <div class="col-8 ml-n2">

                    <!-- Preheading -->
                    <a class="font-size-xs text-muted" href="shop.html">
                      Bags & Accessories
                    </a>

                    <!-- Heading -->
                    <a class="d-block font-weight-bold text-body" href="product.html">
                      Suede cross body Bag
                    </a>

                    <!-- Rating -->
                    <div class="rating font-size-xxs text-warning" data-value="4">
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Blockquote -->
                <blockquote class="mb-0">
                  <p class="text-muted">
                    God every fill great replenish darkness unto. Very open. Likeness their that light. Given under image to. Subdue of shall cattle day fish form saw spirit and given stars.
                  </p>
                  <footer class="font-size-xs text-muted">
                    Pavel Doe, <time datetime="2019-05-29">29 May 2019</time>
                  </footer>
                </blockquote>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- BRANDS -->
<section class="py-12 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Heading -->
        <h2 class="mb-3">@shopper</h2>

        <!-- Subheading -->
        <p class="mb-10 font-size-lg text-gray-500">
          Appear, dry there darkness they're seas, dry waters.
        </p>

      </div>
    </div>
    <div class="row mx-n1 mb-10">
      <div class="col-6 col-sm-4 col-md px-1">

        <!-- Card -->
        <div class="card mb-2">

          <!-- Image -->
          <img src="assets/img/products/product-16.jpg" alt="..." class="card-img">

          <!-- Overlay -->
          <a class="card-img-overlay card-img-overlay-hover align-items-center bg-dark-40" href="blog-post.html">
            <p class="my-0 font-size-xxs text-center text-white">
              <i class="fe fe-heart mr-2"></i> 248 <i class="fe fe-message-square mr-2 ml-3"></i> 7
            </p>
          </a>

        </div>

      </div>
      <div class="col-6 col-sm-4 col-md px-1">

        <!-- Card -->
        <div class="card mb-2">

          <!-- Image -->
          <img src="assets/img/products/product-17.jpg" alt="..." class="card-img">

          <!-- Overlay -->
          <a class="card-img-overlay card-img-overlay-hover align-items-center bg-dark-40" href="blog-post.html">
            <p class="my-0 font-size-xxs text-center text-white">
              <i class="fe fe-heart mr-2"></i> 248 <i class="fe fe-message-square mr-2 ml-3"></i> 7
            </p>
          </a>

        </div>

      </div>
      <div class="col-6 col-sm-4 col-md px-1">

        <!-- Card -->
        <div class="card mb-2">

          <!-- Image -->
          <img src="assets/img/products/product-18.jpg" alt="..." class="card-img">

          <!-- Overlay -->
          <a class="card-img-overlay card-img-overlay-hover align-items-center bg-dark-40" href="blog-post.html">
            <p class="my-0 font-size-xxs text-center text-white">
              <i class="fe fe-heart mr-2"></i> 248 <i class="fe fe-message-square mr-2 ml-3"></i> 7
            </p>
          </a>

        </div>

      </div>
      <div class="col-6 col-sm-4 col-md px-1">

        <!-- Card -->
        <div class="card mb-2">

          <!-- Image -->
          <img src="assets/img/products/product-19.jpg" alt="..." class="card-img">

          <!-- Overlay -->
          <a class="card-img-overlay card-img-overlay-hover align-items-center bg-dark-40" href="blog-post.html">
            <p class="my-0 font-size-xxs text-center text-white">
              <i class="fe fe-heart mr-2"></i> 248 <i class="fe fe-message-square mr-2 ml-3"></i> 7
            </p>
          </a>

        </div>

      </div>
      <div class="col-6 col-sm-4 col-md px-1">

        <!-- Card -->
        <div class="card">

          <!-- Image -->
          <img src="assets/img/products/product-20.jpg" alt="..." class="card-img">

          <!-- Overlay -->
          <a class="card-img-overlay card-img-overlay-hover align-items-center bg-dark-40" href="blog-post.html">
            <p class="my-0 font-size-xxs text-center text-white">
              <i class="fe fe-heart mr-2"></i> 248 <i class="fe fe-message-square mr-2 ml-3"></i> 7
            </p>
          </a>

        </div>

      </div>
      <div class="col-6 col-sm-4 col-md px-1">

        <!-- Card -->
        <div class="card">

          <!-- Image -->
          <img src="assets/img/products/product-21.jpg" alt="..." class="card-img">

          <!-- Overlay -->
          <a class="card-img-overlay card-img-overlay-hover align-items-center bg-dark-40" href="blog-post.html">
            <p class="my-0 font-size-xxs text-center text-white">
              <i class="fe fe-heart mr-2"></i> 248 <i class="fe fe-message-square mr-2 ml-3"></i> 7
            </p>
          </a>

        </div>

      </div>
    </div>
  </div>
</section>
