<nav class="navbar navbar-expand-lg navbar-light @@classList border-bottom">
  <div class="container">

    <!-- Brand -->

    <img src="assets/img/custom/Logo.jpg" alt="logo" class="img-fluid img-logo" >



    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Nav -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" routerLink="/base/home" routerLinkActive="active" href="#">Home</a>


        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" routerLink="/base/shop" routerLinkActive="active" href="#">Shop</a>


        </li>
        <li class="nav-item dropdown position-static">

          <!-- Toggle -->
          <a class="nav-link" data-toggle="dropdown" href="#">FAQs</a>


        </li>

        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" data-toggle="dropdown" href="#">Membership</a>


        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" data-toggle="dropdown" href="#">Contact</a>


        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>

      <!-- Nav -->
      <ul class="navbar-nav flex-row">
        <li class="nav-item ml-lg-n4">
          <a class="nav-link"  routerLink="/base/profile" routerLinkActive="active" href="">
            <i class="fe fe-user"></i>
          </a>
        </li>
        <li class="nav-item ml-lg-n4">
          <a class="nav-link" href="@@webRoot/account-wishlist.html">
            <i class="fe fe-heart"></i>
          </a>
        </li>

        <li class="nav-item ml-lg-n4">
          <a class="nav-link" href="@@webRoot/account-wishlist.html">
            <i class="fe fe-shopping-bag"></i>
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
