<nav class="navbar navbar-expand-xl navbar-light fixed-top bg-white">
  <div class="container">

    <!-- Brand -->
    <img src="assets/img/custom/logo.jpg" alt="logo" class="img-fluid img-logo">


    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLandingCollapse" aria-controls="navbarLandingCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarLandingCollapse">

      <!-- Nav -->
      <ul class="navbar-nav ml-xl-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#welcome" data-toggle="smooth-scroll">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#products" data-toggle="smooth-scroll">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about" data-toggle="smooth-scroll">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#howItWorks" data-toggle="smooth-scroll">How it Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing" data-toggle="smooth-scroll">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#membership" data-toggle="smooth-scroll">Membership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="register()" data-toggle="smooth-scroll">Register</a>
        </li>
      </ul>

      <!-- Nav -->
      <ul class="navbar-nav ml-xl-4">
        <li class="nav-item">
          <button class="btn btn-outline-secondary" routerLink="/base/home" routerLinkActive="active" >Login</button>
        </li>
      </ul>

    </div>

  </div>
</nav>
